<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="assets/ToDo.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script>  
    var error_str = "<%= Error %>";
    if (error_str != "None"){
        alert(error_str)
    }
</script>
  <div class="row d-flex justify-content-center container-fluid" style="margin-top: 100px;">
      <div class="col-md-8">
          <div class="card-hover-shadow-2x mb-3 card">
              <div class="card-header-tab card-header">
                  <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i class="fa fa-tasks"></i>&nbsp;Task Lists</div>
              </div>
              <div class="scroll-area-sm">
                  <perfect-scrollbar class="ps-show-limits">
                      <div style="position: static;" class="ps ps--active-y">
                          <div class="ps-content">
                              <ul class=" list-group list-group-flush">

                                <li class="list-group-item">
                                    <div class="widget-content p-0">
                                          
                                            <form action="/AddTask" method="post" style=""> 
                                            <div class="input-group">       
                                           <input type="text" class="form-control" name = "TaskInformation" id = "TaskData" style="margin-top: 10px;display:inline">
                                           <span class="input-group-btn"  style="margin-left: 10px;margin-top: 10px">
                                                <button class="btn btn-primary" style="display:inline">Add Task</button>
                                           </span>
                                           </div>
                                           </form>
                                        <!-- </div> -->
                                    </div>
                                </li>

                                <li class="list-group-item">
                                    <div class="widget-content p-0">
                                            <b>Pending Tasks</b>
                                        </div>
                                </li>


                                <div class="PendingTasks">
                                <% for(var i=0; i < PendingTasks.length; i++) { %>
                                  <li class="list-group-item">
                                      <div class="todo-indicator bg-warning"></div>
                                      <div class="widget-content p-0">
                                          <div class="widget-content-wrapper">
                                              <div class="widget-content-left mr-2">
                                              </div>
                                              <div class="widget-content-left">
                                                  <div class="widget-heading"><%= PendingTasks[i] %>
                                                  </div>
                                              </div>
                                              
                                              <div class="widget-content-right">
                                                <form action="/UpdateTask" method="post">       
                                                <button id = "circle" class="border-0 btn-transition btn btn-outline-success" name = "TaskInformation" value = "<%= PendingTasks[i] %>">
                                                  <span>Task Completed</span>
                                                  <i class="fa fa-check"></i></button>
                                                </form>
                                                <form action="/DeleteTask" method="post">   
                                                <button  id = "circle" class="border-0 btn-transition btn btn-outline-danger" name = "TaskInformation"  value = "<%= PendingTasks[i] %>" >
                                                <span>Delete</span>
                                                <i class="fa fa-trash"></i> </button> </div>
                                                </form>
                                          </div>
                                      </div>
                                  </li>
                                  <% } %>
                                </div>
                            


                                  <li class="list-group-item">
                                      <div class="widget-content p-0">
                                              <b>Completed Tasks</b>
                                          </div>
                                  </li>
                                  <% for(var i=0; i < CompletedTasks.length; i++) { %>
                                    <li class="list-group-item">
                                        <div class="todo-indicator bg-primary"></div>
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left flex2">
                                                    <div class="widget-heading"><%= CompletedTasks[i] %> </div>
                                                </div>
                                                <div class="widget-content-right">
                                                <form action="/UpdateTask" method="post">  
                                                  <button id = "circle" class="border-0 btn-transition btn btn-outline-success" name = "TaskInformation" value = "<%= CompletedTasks[i] %>">
                                                  <span>Move to Pending task</span>
                                                   <i class="fa fa-reply"></i></button>
                                                </form>
                                                   <form action="/DeleteTask" method="post">  
                                                   <button id = "circle" class="border-0 btn-transition btn btn-outline-danger" name = "TaskInformation"  value = "<%= CompletedTasks[i] %>">
                                                     <span>Delete</span>
                                                     <i class="fa fa-trash"></i>
                                                    </button></form> </div>
                                                
                                            </div>
                                        </div>
                                    </li>
                                  <% } %>

                              </ul>
                          </div>
                      </div>
                  </perfect-scrollbar>
              </div>

          </div>
      </div>
  </div>
</body>
</html>
